.search-bar {
  text-align: center;
  margin: 20px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input {
  padding: 2px 10px;
  font-size: 20px;
  border-radius: 2px;
  background: #999;
  margin: auto;
  color: #222;
}
